apiVersion: v1
kind: Service
metadata:
  labels:
    app: front
  name: todo-app
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 3000
  selector:
    app: front
  type: NodePort
status:
  loadBalancer: {}